<div align="center" class="container-fluid">
	<div class="row-fluid" ng-hide='hideform'>
		<input ng-model="url" placeholder="https://github.com/mpirnat/lets-be-bad-guys" class='input-lg centering' style="width:500px;" required>
		<button ng-click="hideform=true; analyze(url, previous);" class='btn-lg btn-primary centering'><i class="fa fa-search"></i></button>
	</div>
</div>
<div align="center" class="container-fluid">
	<div class="row-fluid" ng-hide='hideform'>
		<label><input ng-model="previous" type="checkbox" ng-true-value="True" ng-false-value="False">
Check previous commits</label>
	</div>
</div>

